<html lang="en">

<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

  <title>Upload</title>
</head>

<body>
  <table border="5" bordercolor="black" align="center">
    <tr>
      <th colspan="3">IMAGES</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Photo</th>
    </tr>
    <tr>
      <td>Bugatti Veyron Super Sport</td>
      <td>Molsheim, Alsace, France</td>
      <td><img src="https://sci-hub.se/pictures/ravenround_hs.gif" alt="" border=1 height=100 width=300></img></td>
    </tr>
    <tr>
      <td>SSC Ultimate Aero TT TopSpeed</td>
      <td>United States</td>
      <td  height=100 width=100>Photo1</td>
    </tr>
  </table>
</body>
<html>