<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

  <title>Upload</title>
</head>

<body>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="image" onchange="readURL(this);">
    <img src="#" id="blah" alt="">
    <input type="text" name="text" id="text">
    <input type="submit" value="submit">
  </form>


  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.readAsDataURL(input.files[0]);
        reader.onload = function (e) {
          $('#blah')
            .attr('src', e.target.result)
            .width(150)
            .height(200);
          const image = reader.result;  //return the base64EncodedImage
          var text = $('#text').val()
          $.post('/api/upload', {
            image,text
          })
        };


      }
    }
  </script>
</body>

</html>