<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="image/favicon.png" type="image/png">
  <title>Login Hotel</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
  <form action="/user/login" method="post">
    <div class='login-background'>
      <div class='login-container'>
        <div class='login-content row'>
          <div class='col-12 text-center login-text'>Login </div>
          <div class='col-12 form-group login-input'>
            <label>Username</label>
            <input type='text' class='form-control' placeholder='User name' id="email" name="email"></input>
          </div>
          <div class='col-12 form-group login-input'>
            <label>Password</label>
            <div class='custom-input-password'>
              <input type="password" class='form-control' placeholder='Password'  id="password" name="password" />
            </div>
          </div>
          <div class='col-12' style="color: red"> NO NO</div>
          <div class='col-12'>
            <input type="submit" class='btn-login' value='Login' />
          </div>
          <div class='col-12'>
            <span class='forgot-pw'>Forgot password?</span>
          </div>
          <div class='col-12 text-center mt-3'>
            <span class='login-with'>Or login with: </span>
          </div>
          <div class='col-12 social-login'>
            <i class="fa fa-google google"></i>
            <i class='fa fa-facebook facebook'></i>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/stellar.js"></script>
  <script src="vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>